<div class="background">
    <app-navbar>
        <button class="buttons">About We Care</button>
    </app-navbar>
    <div class="container">
        <div class="flex-row mt-5">
            <h4>Name the client/hospital/insurance company</h4>
        </div>
        <div class="flex-row mt 3">
            <p class="blockquote-footer">We are delight to serve you. Thank you for trusting us!!</p>
        </div>
        <div class="row">
            <div class="col margin-top-logo mr-5">
                <img class="logo-homepage" src="assets/images/hospital.png" alt="hospital">
                <h3 class="font-italic font-weight-bold font-color-logo">WE Care</h3>
            </div>
            <div class="col margin-top-login ml-5">
                <form [formGroup]="loginForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-login-fields" formControlName="username" [ngClass]="{'is-invalid':!loginForm.pristine && loginForm.controls.username.errors}" placeholder="Username" />
                            <div *ngIf="!loginForm.pristine && loginForm.controls.username.errors" class="error-msg">
                                <div *ngIf="loginForm.controls.username.errors.required">*Username is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mt-4">
                        <div class="col-sm-10 forgot">
                            <input type="password" class="form-control input-login-fields" name="password" formControlName="password" [ngClass]="{'is-invalid': loginForm.submitted && f.password.error}" placeholder="Password">
                            <p>Forgot?</p>
                        </div>
                    </div>
                    <div class="form-group row mt-5">
                        <div class="col-sm-10">
                            <button class="btn btn-primary btn-lg btn-block button-login">Sign in</button>
                        </div>
                    </div>
                    <div class="sign-up-now">
                        <p (click)="openDialog()">Not registered yet? Sign-Up Now!</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>